﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="Datmon_online2.MasterPages.WebForm1" %>

<%@ Register Src="~/Controls/CardGroup.ascx" TagPrefix="Controls" TagName="Cardgroup" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <asp:PlaceHolder ID="Categories" runat="server">

    </asp:PlaceHolder>
</asp:Content>
